<template>
    <v-bottom-sheet lazy v-model="dialog" hide-overlay persistent transition="dialog-bottom-transition">
        <v-card>
            <v-toolbar dense card dark color="dark">
                <v-btn icon @click="closeDialog"><v-icon>fas fa-times</v-icon></v-btn>
                <v-toolbar-title>Autores</v-toolbar-title>
            </v-toolbar>
            <v-card-text class="py-0">
                <v-list>
                    <v-list-tile v-for="(autor, index) in autores" :key="index">
                        <v-list-tile-title :class="{'body-1': $vuetify.breakpoint.xs}" class="font-italic text-xs-center">
                            <span class="font-weight-regular">{{autor.grado + ' '}}</span>
                            <span class="font-weight-light">{{autor.nombre}}</span>
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-card-text>  
        </v-card>
    </v-bottom-sheet>
</template>

<script>
  export default {
    props: ['dialog'],
    data () {
        return {
            autores: [
                {
                    nombre: 'Yasmín Ivette Jiménez Galán',
                    grado: 'Dra'
                },
                {
                    nombre: 'Josefina Hernández Jaime',
                    grado: 'M. en C.'
                },
                {
                    nombre: 'Euler Hernández Contreras',
                    grado: 'M. en C.'
                },
                {
                    nombre: 'Eduardo Rodríguez Flores',
                    grado: 'M. en C.'
                },
                {
                    nombre: 'Marko Alfonso González Ramírez',
                    grado: 'M. en C.'
                }
            ]
        }
    },
    methods : {
        closeDialog () {
            this.$emit('closeDialog')
        }
    }
  }
</script>

<style>

</style>
