<template>
    <v-dialog v-model="dialog" lazy persistent scrollable transition="dialog-bottom-transition" 
    max-width="600px">
        <v-card>
            <v-toolbar dense card dark color="dark">
                <v-btn :small="$vuetify.breakpoint.xs" icon @click="closeDialog"><v-icon>fas fa-times</v-icon></v-btn>
                <v-toolbar-title :class="{'subheading': $vuetify.breakpoint.xs}">Modelo</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu
                    :z-index = "300"
                    lazy
                    offset-y
                    open-on-hover
                    max-width="100%"
                >
                    <v-btn flat small color="orange" slot="activator">Consideraciones</v-btn>
                    <v-card>
                        <v-toolbar card dense dark color="orange">
                            <v-toolbar-title class="subheading">Consideraciones del modelo</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text class="text-xs-justify font-italic">
                            La propuesta de modelo de desarrollo de las competencias transversales tomó como base 3 elementos articulados: 
                        </v-card-text>
                        <v-card-text class="mt-0 pt-0 text-xs-justify">
                            <ol class="font-weight-medium">
                                <li v-for="(element, index) in consideraciones" :key="index">{{element}}</li>
                            </ol>
                        </v-card-text>
                    </v-card>
                </v-menu>
            </v-toolbar>
            <v-card-text>
                <v-layout row wrap>
                    <v-flex xs11>
                        <v-layout align-end row fill-height>
                            <v-flex xs2 v-for="nivel in 5" :key="nivel" class="mr-1">
                                <v-hover>
                                    <v-card @click="goToNivel(nivel)" 
                                        dark 
                                        slot-scope="{ hover }" 
                                        class="pointer text-xs-center" 
                                        :color="`${hover ? 'blue' : 'orange'} ${nivel < 2 ? 'lighten' : 'darken'}-${nivel-1}`"
                                        :height="`${(nivel + 1) * 28 + (hover ? 5 : 0)}px`"
                                        >
                                        <v-card-title :class="{'vertical-text': $vuetify.breakpoint.xs , 'px-0': $vuetify.breakpoint.xs}" class="font-weight-bold caption">Nivel {{nivel}}</v-card-title>
                                    </v-card>
                                </v-hover>
                            </v-flex>
                            <v-hover>
                                <v-flex xs2 class="text-xs-center ml-1" style="border-radius:25px 25px 0 0" slot-scope="{hover}" :class="{'saturate': !hover}">
                                    <v-menu
                                        :z-index = "300"
                                        lazy
                                        offset-y
                                        open-on-hover
                                    >
                                    <!-- :style="{size: hover ? '100%' : '50%'}" -->
                                        <img
                                            :src="images.formacion" 
                                            style="height:160px" 
                                            slot="activator"
                                            class="swingY huerotate"
                                        >
                                        <v-card id="scrollTarget3" :max-height="windowHeight" class="scroll-y">
                                            <v-toolbar card dense dark color="blue">
                                                <v-toolbar-title class="subheading">Formación continua</v-toolbar-title>
                                            </v-toolbar>
                                            <v-card-text v-scroll:#scrollTarget3 class="text-xs-justify caption font-weight-regular" v-html="formacionContinua"></v-card-text>
                                        </v-card>
                                    </v-menu>
                                </v-flex>
                            </v-hover>
                            
                        </v-layout>
                    </v-flex>
                    <v-hover>
                        <v-flex xs12 class="text-xs-center ml-1" style="border-radius:25px 25px 0 0" slot-scope="{hover}" :class="{'saturate': !hover}">
                            <v-menu
                                :z-index = "300"
                                lazy
                                offset-y
                                open-on-hover
                                top
                                allow-overflow
                                :close-on-click="false"
                                :close-on-content-click="false"
                            >
                                <img 
                                    :src="images.areas" 
                                    style="width:100%" 
                                    slot="activator"
                                    class="swing huerotate"
                                >
                                <v-card id="scrollTarget2" :max-height="windowHeight" class="scroll-y">
                                    <v-toolbar card dense dark color="blue" class="subheading">
                                        Áreas de formación
                                    </v-toolbar>
                                    <v-card-text class="text-xs-justify mb-0 caption">
                                        Son niveles o etapas que permiten organizar los contenidos para el logro de los objetivos curriculares. Estas áreas incluyen: 
                                    </v-card-text>
                                    <v-card-text class="my-0 py-0 mx-0 px-0" v-scroll:#scrollTarget2>
                                        <v-card>
                                            <v-window v-model="onboarding">
                                                <v-window-item
                                                    v-for="(area, index) in areasFormacion"
                                                    :key="`card-${index}`"
                                                >
                                                    <v-card>
                                                        <v-layout
                                                            align-center
                                                            justify-center
                                                            fill-height
                                                            tag="v-card-text"
                                                            class="text-xs-justify caption"
                                                        >
                                                            {{area.description}}
                                                        </v-layout>
                                                    </v-card>
                                                </v-window-item>
                                            </v-window>
                                            <v-card-actions class="justify-space-around">
                                                <v-btn
                                                    icon
                                                    flat
                                                    @click="prev()"
                                                >
                                                    <v-icon color="blue">fas fa-caret-left</v-icon>
                                                </v-btn>
                                                <v-item-group
                                                    v-model="onboarding"
                                                    class="text-xs-center"
                                                    mandatory
                                                >
                                                    <v-item
                                                        v-for="(area, n) in areasFormacion"
                                                        :key="`btn-${n}`"
                                                    >
                                                        <v-chip
                                                            slot-scope="{ active, toggle }"
                                                            @click="toggle"
                                                            outline
                                                            color="blue"
                                                            v-if="active"
                                                        >
                                                            {{area.title}}
                                                        </v-chip>
                                                    </v-item>
                                                </v-item-group>
                                                <v-btn
                                                    icon
                                                    flat
                                                    @click="next()"
                                                >
                                                    <v-icon color="blue">fas fa-caret-right</v-icon>
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-card-text>
                                </v-card>
                            </v-menu>
                        </v-flex>
                    </v-hover>
                    <v-hover>
                        <v-flex xs11 slot-scope="{hover}" :class="{'saturate': !hover}">
                        <v-menu
                            :z-index = "300"
                            lazy
                            offset-y
                            open-on-hover
                            top
                            allow-overflow
                            :close-on-click="false"
                            :close-on-content-click="false"
                        >
                            <img 
                                :src="images.gears" 
                                style="width:100%" 
                                slot="activator"
                                class="swing huerotate"
                            >
                            <v-card id="scrollTarget" :max-height="windowHeight" class="scroll-y">
                                <v-toolbar card dense dark color="blue" class="subheading">
                                    <v-btn
                                        icon
                                        flat
                                        @click="prevx()"
                                    >
                                        <v-icon dark>fas fa-caret-left</v-icon>
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                        Competencias
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        icon
                                        flat
                                        @click="nextx()"
                                    >
                                        <v-icon dark>fas fa-caret-right</v-icon>
                                    </v-btn>
                                </v-toolbar>
                                <v-card-text class="px-0 py-0" v-scroll:#scrollTarget>
                                    <v-window v-model="onboardingx">
                                        <v-window-item
                                            v-for="(competencia, index) in competencias"
                                            :key="`cardx-${index}`"
                                        >
                                            <v-card flat>
                                                <v-card-text class="text-xs-justify caption">
                                                    <v-layout align-center mb-3>
                                                        <strong v-text="competencia.title"></strong>
                                                    </v-layout>
                                                    <p v-text="competencia.top"></p>
                                                    <p v-text="competencia.middle"></p>
                                                    <p v-if="competencia.list">
                                                        <ol class="font-italic">
                                                            <li v-for="(element, index) in competencia.list" :key="index">{{element}}</li>
                                                        </ol>
                                                    </p>
                                                    <p v-text="competencia.bottom"></p>
                                                </v-card-text>
                                            </v-card>
                                        </v-window-item>
                                    </v-window>
                                </v-card-text>
                            </v-card>
                        </v-menu>
                    </v-flex>
                    </v-hover>
                </v-layout>
            </v-card-text>  
        </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: ['dialog'],
    data () {
      return {
        bottomNav: 'creatividad',
        onboarding: 0,
        onboardingx: 0,
        switch: true,
        formacionContinua: "La formación continua se refiere al conjunto de acciones formativas (formalizadas a través de instituciones educativas o instancias certificadoras o capacitadoras; o no formalizadas) que los estudiantes realizan más allá del contexto escolar; consiste en el conjunto de conocimientos, experiencias, habilidades y competencias que los estudiantes o egresados van incorporando como parte del aprendizaje a lo largo de la vida. <br><br> Este aprendizaje (indispensable en los egresados) les permitirá a los egresados añadir valor a su currículum y mejorar su capacidad de adaptación, competitividad, y ascender en el mercado laboral.",
        areasFormacion: [
            {
                title: 'Institucional',
                description: 'Esta área proporcionará conocimientos y desarrollará competencias básicas que darán a los estudiantes del IPN una mejor base para el desarrollo de los estudios profesionales de manera que se facilite, a lo largo de los estudios, la adquisición de nuevos conocimientos y competencias. Es decir, esta área construye las bases para que los estudiantes desarrollen la capacidad de aprender a aprender y contribuye sustancialmente a aprender a ser, a convivir, a respetar y a emprender.'
            },
            {
                title: 'Científica básica',
                description: 'Estará constituida por todos aquellos contenidos necesarios para construir las bases de conocimiento para un conjunto de programas de una misma rama (ICFM, CMB, CSA). Los contenidos se organizan en unidades de aprendizaje del plan de estudios y corresponden exclusivamente a las ciencias fundamentales, proporcionando los fundamentos de un determinado campo del saber científico indispensables para comprender un campo específico de la realidad.'
            },
            {
                title: 'Profesional',
                description: 'Se integra con los contenidos propios de la formación profesional, es decir, incorpora todos aquellos contenidos y experiencias que construyen un perfil profesional determinado. Se constituye con todos los contenidos encaminados a la adquisición de conocimientos, habilidades, actitudes y valores necesarios para el desempeño de una actividad profesional. Será similar en todas las Unidades Académicas que ofrezcan el programa de estudios a fin de garantizar las condiciones necesarias para la movilidad estudiantil dentro del Instituto.'
            },
            {
                title: 'Terminal y de integración',
                description: 'Estará constituida por las experiencias de aprendizaje que permitan integrar los contenidos curriculares adquiridos en las etapas previas de la formación, privilegiando la participación en proyectos y/o actividades de investigación, de vinculación, de extensión, entre otras. También, incorporará aquellas experiencias que permitan relacionar la formación académica con el ejercicio profesional. Se trata del espacio formativo que permitirá integrar al currículum el servicio social y la titulación con objetivos de aprendizaje que aporten elementos para construir el perfil de egreso.'
            },
        ],
        competencias: [
            {
                title: 'Solución de problemas',
                top: 'Definido como: El estudiante identifica, analiza y define los elementos significativos que constituyen un problema para resolverlo con criterio y de forma efectiva.',
                middle: 'Los problemas que se los estudiantes tendrán que resolver en su vida profesional presentan, por lo menos tres características:',
                list: [
                    'Son problemáticas complejas porque están atravesados por múltiples variables (técnicas, económicas, sociales, legales) que no corresponderán del todo al área de conocimiento del estudiante.',
                    'Serán problemas que no permanecen inmutables, es decir las condiciones pueden cambiar de un momento a otro; esto significa que los docentes tendrán que plantear cambios a las situaciones problemáticas previamente presentadas (por ejemplo, incremento del precio del dólar, nuevas leyes regulatorias, huelgas, etc.).',
                    'Serán problemas que admiten diversas soluciones –con diverso beneficio– por lo que es imprescindible que a medida que se avance de nivel los problemas planteados a los estudiantes vayan de lo simple a lo complejo y siempre deberán de ser abiertos, dado que no hay soluciones óptimas los estudiantes deberán realizar estimaciones –costo beneficio– de al menos tres posibles soluciones.'
                ],
                bottom: null
            },
            {
                title: 'Creatividad',
                top: 'El estudiante  genera ideas nuevas y originales planteando soluciones alternativas  a un determinado problema.',
                middle: 'La creatividad como tal, y por definición, se deberá ir trabajando con los estudiantes buscando en la solución a las problemáticas planteadas:',
                list: [
                    'Nuevas lecturas, soluciones alternativas que desafíen suposiciones',
                    'Que tengan viabilidad y sean factibles',
                    'Nuevas conexiones entre los elementos constitutivos buscando brechas de información y/o elementos faltantes'
                ],
                bottom: 'Esto requiere que en los primeros niveles formativos, las soluciones planteadas forzosamente deberán corresponder a los contenidos temáticos de las unidades de aprendizaje para asegurarse que los estudiantes comprenden y aplican los que sus maestros les van enseñando.'
            },
            {
                title: 'Innovación',
                top: 'El estudiante consigue resultados originales, efectivos y aplicables para  resolver las demandas personales, organizacionales y/o sociales.',
                middle: 'La innovación, como eje del avance científico y tecnológico, no corresponde al nivel superior de educación de acuerdo con el modelo educativo del IPN, sino al posgrado ya que debe fortalecerse con la educación continua y la experiencia profesional. Ya con estos elementos los egresados de las carreras de ingeniería del IPN que valoran la creatividad como forma para solucionar problemáticas, en sus respectivos campos laborales, e implementan métodos o procesos nuevos, originales y eficientes –transfiriendo sus competencias profesionales y transversales en actuaciones efectivas–.',
                list: [],
                bottom: 'No obstante, el espíritu innovador debe ser desarrollado como cualquier otra competencia sistémica; por lo que habrá que enfatizar durante su paso por las unidades académicas de educación superior lo siguiente.'
            }
        ],
        consideraciones: [
            'Las características del modelo educativo y perfil de egreso del IPN',
            'El modelo académico del IPN y rediseño curricular',
            'Las competencias transversales: creatividad, innovación y solución de problemas'
        ],
        images: {
          gears: require('@/assets/modelo/Color1.png'),
          niveles: require('@/assets/modelo/Color2.png'),
          areas: require('@/assets/modelo/Color3.png'),
          formacion: require('@/assets/modelo/Color4.png')
        }
      }
    },
    methods : {
        next () {
        this.onboarding = this.onboarding + 1 === this.areasFormacion.length
          ? 0
          : this.onboarding + 1
        },
        prev () {
            this.onboarding = this.onboarding - 1 < 0
            ? this.areasFormacion.length - 1
            : this.onboarding - 1
        },
        nextx () {
        this.onboardingx = this.onboardingx + 1 === this.competencias.length
          ? 0
          : this.onboardingx + 1
        },
        prevx () {
            this.onboardingx = this.onboardingx - 1 < 0
            ? this.competencias.length - 1
            : this.onboardingx - 1
        },
        goToNivel(nivel){
            this.$router.push({ name: "nivel", params: { id: nivel}})
            this.closeDialog()
        },
        closeDialog () {
            this.$emit('closeDialog')
        },
        openFormacionDescription (e) {
            e.preventDefault()
            this.showFormacionDescription = false
            this.xFormacion = e.clientX
            this.yFormacion = e.clientY
            this.$nextTick(() => {
                this.showFormacionDescription = true
            })
        }
    },
    computed : {
        windowHeight() {
            return `${window.innerHeight}px`
        }
    }
  }
</script>

<style>
.pointer {cursor: pointer;}

.vertical-text {
	transform: rotate(-90deg);
	transform-origin: center center 0;
}
/* Animacion de saturacion */
@keyframes saturation { 
  from { 
      -webkit-filter: saturate(30);
      -moz-filter: saturate(30);
      filter: saturate(30);
   } 
}
.saturate { animation: saturation 0.5s infinite alternate;}
/* Animacion*/
.huerotate:hover {-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes swingY
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
       transform: translateY(-5px);
    } 
    50%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65%
    {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80%
    {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swingY
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65%
    {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80%
    {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.swingY:hover
{
        -webkit-animation: swingY 1s ease;
        animation: swingY 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

</style>
