<template>
    <v-dialog v-model="dialog" lazy hide-overlay scrollable persistent fullscreen transition="dialog-bottom-transition">
        <v-card>
            <v-toolbar dense card dark color="dark">
                <v-btn icon @click="closeDialog"><v-icon>fas fa-times</v-icon></v-btn>
                <v-toolbar-title>Referencias bibliográficas</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-card v-for="(referencia, index) in referencias" :key="index" class="my-3 elevation-8 text-xs-justify">
                    <v-card-text>{{referencia.nombre}}</v-card-text>
                    <v-card-actions v-if="referencia.link">
                        <i>Recuperado de: </i>
                        &nbsp;&nbsp;
                        <a target="_blank" :href="referencia.link">{{referencia.link}}</a>
                    </v-card-actions>
                </v-card>
            </v-card-text>  
        </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: ['dialog'],
    data () {
        return {
            referencias: [
                {
                    nombre: 'Adriansen, H. C. (2010). How criticality affects students’crativity. En C. Nygaard; N. Courtney and C. Holtham (Eds.) Teaching creativity – creativity in teaching, (pp. 65-84). UK, Libri Publishing.',
                    link: null
                },
                {
                    nombre: 'Arias, C.; Giraldo, D. y Anaya, L. (2013). Competencia creatividad e innovación: conceptualización y abordaje en la educación. Katharsis, 15, 195-213.',
                    link: 'http://revistas.iue.edu.co/index.php/katharsis/article/view/245/0'
                },
                {
                    nombre: 'Beneitone, P.; Esquetini, C.; González, J.; Maletá, M. y Suifi, G. (ed.) (2007) Reflexiones sobre la Educación Superior en América Latina. Informe Final del Proyecto Tuning América Latina 2004-2007.',
                    link: 'http://tuning.unideusto.org/tuningal/index.php?option=com_docman&Itemid=191&task=view_category&catid=22&order=dmdate_published&ascdesc=DESC'
                },
                {
                    nombre: 'De Bono, E. (2015). Creatividad. 62 ejercicios para ejercitar la mente. CDMX, Paidos. Díaz, F. (2006). Enseñanza situada. Vínculo entre la escuela y la vida. Distrito Federal, México: Mc-Graw Hill Interamericana',
                    link: null
                },
                {
                    nombre: 'Instituto Politécnico Nacional [Ipn], (2004). Manual para el rediseño de planes y programas en el marco del nuevo modelo educativo y académico. Distrito Federal, México: Instituto Politécnico Nacional.',
                    link: null
                },
                {
                    nombre: 'Iriarte, A. (2011). Desarrollo de la competencia resolución de problemas desde una didáctica con enfoque metacognitivo. Zona próxima, 15, 2-21.',
                    link: null
                },
                {
                    nombre: 'Jiménez, Y; González, M. y Hernández, J. (2013). Competencias Profesionales en Educación Superior; Justificación, Evaluación y Análisis. Innovación educativa, 13(61), 45-64.',
                    link: null
                },
                {
                    nombre: 'Jiménez, Y; González, M. y Hernández, J. (2016). De frente a la reforma educativa de segunda generación para la educación superior: ¿se han logrado los cambios en la epistemología docente? Perfiles educativos, XXXVIII(154), 20-40.',
                    link: null
                },
                {
                    nombre: 'Llanos, C.; Alarcón, F.; Boza, A.; Fernández-Diego, M.; Ruiz, L.; Gordo, M. y Poler, R. (2016). Rubric to asses the competence of innovation, creativity and entreprenurship in bachelor degree. Brazillian Journal of Operations & Production Management, 13, 118-123.',
                    link: 'https://riunet.upv.es/handle/10251/71917'
                },
                {
                    nombre: 'López, R. (Ed.). (2017). Estrategias de enseñanza creativa. Investigaciones sobre la creatividad en el aula. Universidad La Salle.',
                    link: 'http://biblioteca.clacso.edu.ar '
                },
                {
                    nombre: 'Matínez, G.; Bàez, E.; Garza, J.; Treviño, A. y Estrada, F. (2012). Implementación de un modelo de diseño curricular basado en competencias en carreras de ingeniería. Innovación educativa, 12(60), 87-103.',
                    link: null
                },
                {
                    nombre: 'Montero, A. (2009). Las competencias en la educación. Competencias educativas, diseño y desarrollo del currículo en los centros. Madrid, España: Guadalturia.',
                    link: null
                },
                {
                    nombre: 'Quiroz, E. (2007). Competencias profesionales y calidad en la educación superior. Reencuentro, 50, 93-99.',
                    link: null
                },
                {
                    nombre: 'Rasmussen, P. (2009). Creative and innovative competence as a task for adult education. In Proceedings of the Third Nordic Conference on Adult Learning Syddansk Universitet. Denmark.',
                    link: 'http://vbn.aau.dk/files/17652187/Creative_competence_adult_education09.pdf'
                },
                {
                    nombre: 'Swanger, D. (2016). Innovation in higer education: Can colleges really change?',
                    link: 'https://www.fmcc.edu/about/files/2016/06/Innovation-in-Higher-Education.pdf'
                },
                {
                    nombre: 'Tejeda, J. y Ruíz, C. (2013). Significación del prácticum en la adquisición  de competencias profesionales que permiten la transferencia de conocimiento a ámbitos propios de la acción docente. Profesorado, Revista de currículum y formación del profesorado, 17(3), 91-110.',
                    link: 'https://ddd.uab.cat/pub/artpub/2013/123080/Tejada_2013_rev173ART5.pdf'
                },
                {
                    nombre: 'Tejeda, R. (2016). Las competencias transversales, su pertinencia en la integralidad de la formación de profesionales. Didasc@lia: Didáctica y Educación, VII(6), 199-222.',
                    link: null
                },
                {
                    nombre: 'Tena, M. (2010). Aprendizaje de la competencia creatividad e innovación en el marco de una titulación adaptada al Espacio Europeo de Educación Superior. Formación universitaria, 3(2), 11-20.',
                    link: 'https://scielo.conicyt.cl/scielo.php?script=sci_arttext&pid=S0718-50062010000200003'
                },
                {
                    nombre: 'Valqui, R. (2010). Creative problema solving an aplied university course. Pesquisa Operacional, 30(2), 405-426.',
                    link: 'http://www.scielo.br/scielo.php?script=sci_arttext&pid=S0101-74382010000200009'
                },
                {
                    nombre: 'Vega, U.; Figueroa, M. y Del Real F. (2017). Reflexiones sobre la formación de competencias transversales y digitales en institución de educación superior de México. Ensayos Pedagógicos, XII(1), 17-38.',
                    link: null
                },
                {
                    nombre: 'Villa, A. y Poblete, M. (2007). Aprendizaje basado en competencias. Una propuesta para la evaluación de las competencias genéricas. Madrid, España: Ediciones Mensajero.',
                    link: null
                },
                {
                    nombre: 'Villa, A. y Poblete, M. (2011). Evaluación de competencias genéricas: principios, oportunidades y limitaciones.  Bordón, 63(1), 147-170.',
                    link: 'https://www.upv.es/entidades/ICE/info/EvaluacionCompetenciasGenericas.pdf'
                },
                {
                    nombre: 'Villalobos, M. (2009). Evaluación del aprendizaje basado en competencias. México, Minos Tercer Milenio.',
                    link: null
                },
                {
                    nombre: 'Villarroel, V. y Bruna, D. (2014). Reflexiones en torno a las competencias genéricas en educación superior: Un desafío pendiente. Psicoperspectivas Individuo y Sociedad, 13(1), 23-34.',
                    link: 'http://www.psicoperspectivas.cl/index.php/psicoperspectivas/article/view/335'
                },
                {
                    nombre: 'Ya-Hui, S. (2009) Idea creation: the need to develop creativity in lifelong learning practices, International Journal of Lifelong Education, 28(6), 705-717.',
                    link: null
                },
            ]
        }
    },
    methods : {
        closeDialog () {
            this.$emit('closeDialog')
        }
    }
  }
</script>

<style>

</style>
