<template>
    <div>
        <v-flex xs12>
            <v-tabs
                dark
                icons-and-text
                v-model="current"
                :slider-color="getColorByCompetencia"
                grow
            >
                <v-tab :class="competencia.color" v-for="(competencia, index) in competencias" :key="index" :href="`#${competencia.tag}`">
                    {{competencia.name}}
                    <v-icon>{{`fas fa-${competencia.icon}`}}</v-icon>
                </v-tab>
            </v-tabs>
        </v-flex>
        <v-flex xs12>
            <v-tabs-items v-model="current">
                <v-tab-item v-for="(competencia, index) in competencias" :key="index" :value="competencia.tag">
                    <v-card class="mt-0 text-xs-justify" :color="competencia.color" dark v-if="competencia.color">
                        <v-card-title :class="{'body-2': $vuetify.breakpoint.xs}" class="px-5 py-4 font-weight-regular font-italic subheading">
                            {{$store.state[nivel].competencias[competencia.tag].intro}}
                        </v-card-title>
                    </v-card>
                    <v-card v-if="$store.state[nivel].competencias[competencia.tag].caracteristicas.length > 0">
                        <v-card-text>
                            <v-timeline :dense="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm">
                                <v-timeline-item
                                    v-for="(SP, index) in $store.state[nivel].competencias[competencia.tag].caracteristicas"
                                    :color="index%2 ? 'teal' : 'pink'"
                                    :key="index"
                                    fill-dot
                                    :right ="Boolean(index%2)"
                                    :left ="Boolean(!(index%2))"
                                >
                                    <v-card class="text-xs-justify">
                                        <v-toolbar card :dense="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm" :color="index%2 ? 'teal' : 'pink'">
                                            <v-toolbar-title :class="{subheading: $vuetify.breakpoint.xs}" class="subheading white--text font-weight-regular" v-html="SP.title"></v-toolbar-title>
                                            <v-spacer></v-spacer>
                                            <v-icon dark medium>
                                                {{`fas fa-${SP.icon}`}}
                                            </v-icon>
                                        </v-toolbar>
                                        <div v-if="$vuetify.breakpoint.xs">
                                            <v-card-actions >
                                                <v-btn :color="index%2 ? 'teal' : 'pink'" outline small block @click="SP.showDescription = !SP.showDescription">
                                                    <v-icon>{{ !SP.showDescription ? 'fas fa-caret-down' : 'fas fa-caret-up' }}</v-icon>
                                                </v-btn>
                                            </v-card-actions>
                                            <v-slide-y-transition>
                                                <v-card-text v-text="SP.description" v-show="SP.showDescription"></v-card-text>
                                            </v-slide-y-transition>
                                        </div>
                                        <v-card-text v-else v-text="SP.description"></v-card-text>
                                    </v-card>
                                </v-timeline-item>
                            </v-timeline>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-flex>
    </div>
</template>

<script>
  export default {
    props: ['nivel'],
    data () {
      return {
        current: null,
        competencias: [
            {
                name: 'Solución de problemas',
                icon: 'hammer',
                tag: 'solucionDeProblemas',
                color: 'orange darken-3'
            },
            {
                name: 'Creatividad',
                icon: 'puzzle-piece',
                tag: 'creatividad',
                color: 'amber'
            },
            {
                name: 'Innovación',
                icon: 'brain',
                tag: 'innovacion',
                color: 'blue'
            }
        ]
      }
    },
    computed: {
        getColorByCompetencia(){
            switch (this.current) {
                case 'creatividad':
                    return 'amber'
                    break;
                case 'innovacion':
                    return 'blue'
                    break;
                case 'solucionDeProblemas':
                    return 'orange darken-3'
            }
        }
    }
  }

</script>