<template>
    <v-flex xs12>
        <v-card class="text-xs-justify pa-3" style="border-radius:5px;"> 
            <v-card-title>
                <v-layout>
                    <v-flex xs3>
                        <v-btn color="pink" large flat block @click="goToNivel(parseInt($route.params.id)-1)" v-if="(parseInt($route.params.id)-1) > 0">
                            <v-icon left x-large>fas fa-angle-left</v-icon>
                            {{ $vuetify.breakpoint.xs ? null : `Nivel ${parseInt($route.params.id)-1}`}}
                        </v-btn>
                    </v-flex>
                    <v-flex xs6 class="text-xs-center">
                        <span class="font-weight-regular display-2">Nivel {{$route.params.id}}</span>	
                    </v-flex>
                    <v-flex xs3>
                        <v-btn color="teal" large flat block @click="goToNivel(parseInt($route.params.id)+1)" v-if="(parseInt($route.params.id)+1) < 6">
                            {{ $vuetify.breakpoint.xs ? null : `Nivel ${parseInt($route.params.id)+1}`}}
                            <v-icon right x-large>fas fa-angle-right</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-card-title>
            <v-card-text>
                <p>{{$store.state[nivel].introduccion.descripcion}}</p>
                <p>En este nivel, generalmente, se encuentran unidades de aprendizaje:</p>
                <ul class="font-italic">
                    <li v-for="(element, index) in $store.state[nivel].introduccion.lista" :key="index">{{element}}</li>
                </ul>
            </v-card-text>		
        </v-card>
    </v-flex>
</template>
<script>
export default {
    props: ['nivel'],
    methods: {
        goToNivel(nivel){
            this.$router.push({ name: "nivel", params: { id: nivel}})
        }
    }
}
</script>

