<template>
	<v-layout row wrap v-if="$store.state[`nivel${$route.params.id}`]">
		<introduccion :nivel="`nivel${$route.params.id}`"></introduccion>
		<competencias :nivel="`nivel${$route.params.id}`"></competencias>
	</v-layout>
	<v-layout v-else>
		<v-flex class="elevation-12">
			<h1>No existe el nivel {{$route.params.id}}</h1>
		</v-flex>
	</v-layout>
</template>

<script>
import Competencias from './dense/competencias'
import Introduccion from './dense/introduccion'
  export default {
	components:{
		Competencias,
		Introduccion
	},
	beforeRouteUpdate (to, from, next) {
		if(to.params.id !== from.params.id){
			window.scrollTo(0,0)
		}
		next()
	}
  }

</script>