<template>
    <v-footer app dark height="auto">
        <referencias :dialog ="referenciasModal" @closeDialog="referenciasModal = false;"></referencias>
        <v-layout row wrap class="px-3">
            <v-flex xs6 sm6 md9 lg9 xl9>
                <v-toolbar dense flat>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" >
                            <img class="my-2" alt="Licencia de Creative Commons" style="border-width:0"
                            src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/>
                        </a>
                    </v-toolbar-items>
                    <v-toolbar-title class="caption" v-if="!($vuetify.breakpoint.xs || $vuetify.breakpoint.sm)">
                        Este obra está bajo una <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">licencia de Creative Commons Reconocimiento-NoComercial-SinObraDerivada 4.0 Internacional</a>.
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
            </v-flex>
            <v-flex xs6 sm6 md3 lg3 xl3>
                <v-btn flat block @click="referenciasModal = true">Referencias</v-btn>
            </v-flex>
        </v-layout>
    </v-footer>
</template>
<script>
import Referencias from './modals/referencias'
export default {
  data () {
    return {
        referenciasModal:false
    }
  },
  components :{
    Referencias
  }
}
</script>
