<template>
  <v-layout row wrap class="elevation-12">
    <v-flex xs12>
      <v-card class="text-xs-justify elevation-10 pa-3">
        <!-- <v-toolbar dark card color="teal">
          <v-toolbar-title v-text="question"></v-toolbar-title>
        </v-toolbar> -->
        <v-card-title class="font-weight-bold font-italic display-1" v-text="question"></v-card-title>
        <v-card-title class="font-weight-medium headline">Introducción</v-card-title>
        <v-card-text class="font-weight-regular" v-text="intro.primerParrafo"></v-card-text>
        <v-card-text class="font-weight-regular" v-text="intro.segundoParrafo"></v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        intro: {
          primerParrafo: 'El entorno cada vez más volátil y cambiante que enfrentarán los egresados de educación superior ha suscitado renovado interés en que las diversas soluciones que éstos den a los problemas que enfrenta la sociedad, sea realizada con base en la creatividad y la innovación; Valqui (2010), Adriansen (2010), Tena (2005), OCDE (2000) argumentan que la creatividad y la innovación son importantes para: aumentar la calidad de vida; obtener ventajas competitivas; y la base de la sociedad del conocimiento. Asimismo, Ya-Hui (2009) concluye que la creatividad no solo es imprescindible en el marco de las disciplinas o las profesiones, sino que es la clave del aprendizaje a lo largo de la vida.',
          segundoParrafo: 'La solución de problemas y el pensamiento creativo –competencias instrumentales– y el espíritu innovador –competencia sistémica– están dentro de las 27 competencias consensuadas del Proyecto Tuning; no obstante la contribución de las IES para el desarrollo y fomento de las mismas actualmente aún es un área de oportunidad dado que tienen escasa presencia en los planes y programas de estudio (Tena, 2010). La creatividad suele ser definida como una habilidad humana de orden superior que permite ir más allá de la comprensión tradicional de los problemas para ofrecer soluciones alternativas viables con base el desafío consciente de las suposiciones o preconcepciones haciendo conexiones; reconociendo patrones y tomando riesgos (Tena, 2010; Valqui, 2010). Y es precisamente, en la soluciones alternativas viables de problemáticas donde radica la importancia de que los egresados de Educación Superior desarrollen la creatividad porque es un elemento indispensable para lograr la innovación: resultados originales, de alta calidad y con aplicabilidad (Valqui, 2010; Adriansen, 2010; De Bono, 2016). Esto significa que los estudiantes primero deberán desarrollar pensamiento creativo y posteriormente el espíritu innovador. '
        },
        question: '¿Cómo desarrollar la innovación, la creatividad y la resolución de problemas a través del mapa curricular?'
      }
    }
  }
</script>
