<template>
  <v-toolbar app color="black" dark> 
    <modelo :dialog ="modelModal" @closeDialog="modelModal = false;"></modelo>
    <autores :dialog ="autoresModal" @closeDialog="autoresModal = false;"></autores>
    <template v-if="$vuetify.breakpoint.xs">
        <v-spacer></v-spacer>
        
        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          offset-y
        >
          <v-btn slot="activator" dark flat>
            <v-icon left>
              fas fa-bars
            </v-icon>
            competencias transversales
          </v-btn>

          <v-card>
            <v-list>
              <v-list-tile @click="$router.push('/'); menu = false">
                <v-list-tile-action>
                  <v-icon color="pink">fas fa-home</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Inicio</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="modelModal = true; menu = false">
                <v-list-tile-action>
                  <v-icon color="pink">fas fa-project-diagram</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Modelo</v-list-tile-title>
              </v-list-tile>

              <v-list-tile @click="autoresModal = true; menu = false">
                <v-list-tile-action>
                  <v-icon color="pink">fas fa-signature</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Autores</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-menu>
        <v-spacer></v-spacer>
    </template>
    <template v-else>
      <v-toolbar-title :class="{'caption':$vuetify.breakpoint.sm}" class="subheading text-uppercase" >
        <span class="font-weight-light">Modelo de desarrollo de</span>
        <span> competencias transversales</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      
      <v-btn :small="$vuetify.breakpoint.sm" icon @click="$router.push('/')"><v-icon medium :small="$vuetify.breakpoint.sm">fas fa-home</v-icon></v-btn>
      <v-btn :small="$vuetify.breakpoint.sm" :icon="$vuetify.breakpoint.sm" dark @click="modelModal = true">{{$vuetify.breakpoint.sm ? null : 'Modelo'}}<v-icon :small="$vuetify.breakpoint.sm" :right="!$vuetify.breakpoint.sm">fas fa-project-diagram</v-icon></v-btn>
      <v-btn :small="$vuetify.breakpoint.sm" dark @click="autoresModal = true; menu = false">Autores<v-icon :small="$vuetify.breakpoint.sm" right>fas fa-signature</v-icon></v-btn>
    </template>
  </v-toolbar>
</template>

<script>
import Modelo from './modals/modelNavigator'
import Autores from './modals/autores'
export default {
  data () {
    return {
      menu: false,
      modelModal: false,
      autoresModal: false
    }
  },
  components :{
    Modelo,
    Autores
  }
}
</script>
