<template>
  <v-app>
    <toolbar></toolbar>
      <v-container class="fit-content" :class="{'py-0': $route.path === '/', 'px-0': $vuetify.breakpoint.md || $vuetify.breakpoint.lg || $vuetify.breakpoint.xl, 'pa-0 mt-4 mb-3': $vuetify.breakpoint.sm || $vuetify.breakpoint.xs}">
        <v-fade-transition>
          <router-view></router-view>
        </v-fade-transition>
      </v-container>
    <creative-footer></creative-footer>
  </v-app>
</template>
<script>
import toolbar from './components/toolbar'
import creativeFooter from './components/footer'
export default {
  name: 'App',
  data () {
    return {}
  },
  components :{
    toolbar,
    creativeFooter
  }
}
</script>
<style>
.fit-content {
  max-height: fit-content
}
</style>

